body {
    background-color: linen;
  }
  
  h3 {
    color: maroon;
    margin-left: 40px;
  }

  .tc{
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1 px salmon;
  }

  @media(max-width:800px){
    .tc{
      display: block;
    }
    .tc{
      width: 100%;
    }
    body {
      background-color: lightblue;
    }
  }

